body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: none;
    margin: 0;
    line-height: 24px;
    font-weight: 500;
    overflow-x: hidden !important;
    text-align: left;
    position: relative;
    /* color: #ffffff !important; */
    /* opacity: 0.9; */
    /* background: rgba(0, 0, 0) !important; */
}

* {
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
    display: block;
}

.fa,
.fas {
    margin-right: 15px;
    display: inline-block;
}

.fas {
    font-size: 18px;
}

.container {
    padding: 20px;
    background: #f1f1f1;
    color: #000;
    font-size: 21px;
    line-height: 1.3em;
    border: 2px dashed #ddd;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #f1ecec, 2px 1px 6px 4px rgba(150, 150, 132, 0.5);
    font-weight: normal;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}

@media (min-width: 769px) {
    .container {
        margin: 2.5rem auto;
    }
}


/* Quiz Component */

.answers {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* QuestionCount Component */

.questionCount {
    padding: 1.5rem 2.5rem 0;
    font-size: 14px;
}


/* AnswerOption Component */

.answerOption:hover {
    border: 1px solid #3072d4;
    cursor: pointer;
}


/* Animation */

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


/**/


/* Shared */

* {
    box-sizing: border-box;
}

button {
    width: 150px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
}

@media (min-width: 769px) {
    .container {
        margin: 2.5rem auto;
    }
}


/* Result Component */

.result {
    padding: 1.5rem 2.5rem;
}


/* Quiz Component */

.answerOptions {
    padding: 0;
    margin: 0;
}


/* QuestionCount Component */

.questionCount {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #eeeeee;
}


/* Footer Buttons*/

.button_cont {
    display: inline-block;
}

.btn-wrap {
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    transition: all 0.4s;
    cursor: pointer;
    margin: 20px 5px;
}

.btn-next {
    background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
}

.btn-previous {
    background: linear-gradient(to right, #4ca2cb, #67b26b) !important;
}

.btn-wrap span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.btn-wrap span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}

.btn-next span:after {
    content: '\00bb';
    right: -20px;
}

.btn-previous span:after {
    content: '\00ab';
    left: -20px;
}

.btn-next:hover span {
    padding-right: 25px;
}

.btn-next:hover span:after {
    opacity: 1;
    right: 0;
}

.btn-previous:hover span {
    padding-left: 25px;
}

.btn-previous:hover span:after {
    opacity: 1;
    left: 0;
}


/* Question Component */

.question {
    text-align: left;
    margin: 0;
    padding: 10px 0;
    font-weight: 300;
}


/* Animation */

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    ul#horizontal-list {
        min-width: 696px;
        list-style: none;
        padding-top: 20px;
    }
    ul#horizontal-list li {
        display: inline;
    }
}

.selected-btn {
    border: 3px solid #3072d4 !important;
}

.selected-btn .fa-check-circle {
    color: #3072d4;
}

.bottom-footer {
    margin-top: 20px;
}